/* RESET */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* DECLARE VARIABLES AND SETUP FONT SIZING*/
:root {
  --element-width: 100%;  
  --shorten-width: 80%;
      font-size: 62.5%;   /* IF DEFAULT IS 16PX THIS IS 10PX*/
}

body {
  font-size: 1.6rem; /* SETS DEFAULT FONT SIZE BACK TO 16*/
}

.app {
  position: absolute;
  overflow: hidden;

  display: grid;
  place-items: center;
  z-index: -99;
}
/**/
/* NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR*/
/**/

#hamburger {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1rem;
  right: 0;
  background: linear-gradient(to bottom, white 10%, black 10% 18%, white 18% 46%, 
                                         black 46% 54%, white 54% 82%, black 82% 90%, white 90%);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--element-width);
  height: fit-content;
  color: #9e9aa8;
  margin-bottom: 8.75rem;
}


#nav-bar {
    display: flex;
    justify-content: space-between;
    width: var(--element-width);
    color: #9e9aa8;
}

.info-nav {
    display: flex;
    align-items: center;
    
}

.info-nav p {
    margin: 0 1rem;
    cursor: pointer;
}

.info-nav p:hover {
    color: #34313D;
}

.info-nav img {
    margin-right:3rem;
}

.action-nav {
    display: flex;
    align-items: center;
    color: inherit;
}

.action-nav p {
    margin: 0 2rem;
    cursor: pointer;
}

.action-nav p:hover {
    color: #34313D;
}

.action-nav button {
    height: 2.65rem;
    width: 7rem;
    /* font-size: 7em; */
    border-radius: 2rem;
    background: #2bd0d0;
    color: white;
    border: none;
    cursor: pointer;
}

.action-nav button:hover {
    background: #9AE3E3;
}

/**/
/* LANDING FOCUS LANDING FOCUS LANDING FOCUS LANDING FOCUS*/
/**/
 
.page-top {
    display: flex;
    justify-content: space-between;
    width: var(--element-width);
    padding-bottom: 0em;
    padding: 0 10%;
}

.page-top-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}


.page-top h1 {
    font-size: 5.5rem;
    line-height: 6.5rem;
    letter-spacing: -2px;
    text-align: center;
}

.page-top p {
    color: #9e9aa8;
    margin: 3rem 0;
} 

.page-top button {
    width: 13.125rem;
    height: 3.5rem;
    border-radius: 2rem;
    background: #2bd0d0;
    color: white;
    border: none;
    cursor: pointer;
}

.page-top button:hover {
    background: #9AE3E3;
}

.page-top img {
    position: relative;
    /* max-width: 50%; */
    height: auto;
    overflow: clip;
}

.url-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--shorten-width);
    height: 10rem;
    background-image: url("./res/img/bg-shorten-desktop.svg");
    background-size: cover;
    background-color: rgba(58, 27, 99, 0.778);
    border-radius: 0.625rem;
    bottom: -7.5rem;
    /* margin-top: 3rem; */
}

#shorten-it-button {
    height: 4rem;
    width: 12.5rem;
    margin:3.5rem 4.25rem 3.5rem 1.6rem;
    border-radius: inherit;
    background: #2bd0d0;
    color: white;
    border: none;
    cursor: pointer;
}

.url-input p:hover, button:hover {
  background: #9AE3E3;
}

.url-input input {
    height: 4.25rem;
    width: 100%;
    margin: 3.5rem 0 3.5rem 4.25rem;
    border-radius: inherit;
    color: #34313d;
    font-size: 1.33rem;
    padding-left: 2rem;
}

#error-text {
    position: relative;
    display: block;
    justify-self: flex-start;
    color: #F46363;
    top: -3rem;
    left: 25%;
    font-style: italic;
    width: var(--element-width);
    z-index: 5;

}

#shortened-urls-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 6rem;
  width: 75%;
  margin-bottom: 7.5rem;
}

.link-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0.3125rem;
    height: auto;
    width: 100%;
    margin: 0.5rem 0;
    z-index: 999;
}

.link-container div {
    display: flex;
    align-items: center;
}

#full-link {
  margin-left: 2rem;
  font-size: 1.33rem;
  color: black;
  line-height: 2.33rem;
}

#full-link a, a:visited{
  color: black;
}

#short-link {
  color: #2bd0d0;
  font-size: 1.33rem;
  line-height: 2.33rem;
}


#short-link a, a:visited{
  color: #2bd0d0;
}

.link-container button {
    background-color: #2bd0d0;
    margin: 1rem 1.5rem;
    border-radius: 0.3125rem;
    border: none;
    font-weight: 700;
    color: white;
    padding: 0.625rem 2.5rem;
    cursor: pointer;
}

.link-container button:hover {
  background: #9AE3E3;
}
  
.brag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: var(--element-width);
    z-index: -2;
    padding-bottom: 3rem;
    background-color: #f2f2f2;
    
}

.statistics-brag {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.statistics-brag h2 {
    font-size: 2.65rem;
}

.statistics-brag p {
    color: #9e9aa8;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 4rem;
}

.specific-brag {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: white;
    padding: 0 1.5rem;
    margin: 0 1rem 1rem 1rem;
    z-index: 2;
    min-height: 5rem;
    max-height: fit-content;
}

.brag-image {
    display: grid;
    place-items: center;
    position: absolute;
    top: -3.75rem;
    background-color: #3a3054;
    border-radius: 50%;
    height: 7.5rem;
    width: 7.5rem;
}

.brag-box {
  position: relative;
  display: flex;
  width: var(--element-width);
  background: 
  linear-gradient(to right, #f2f2f2 30%, rgba(0,0,0,0) 30% 80%, #f2f2f2 80%),
  linear-gradient(to bottom, #f2f2f2 49.0%, #2bd0d0 49.0% 51%, #f2f2f2 51%);
}

.specific-brag h3 {
    padding: 5.5rem 0 3rem 0;
}

.specific-brag p {
    color: #9e9aa8;
    padding-bottom: 4rem;
}

#brand-recognition {
    position: relative;
    bottom: 3rem;
}

#fully-customizable {
    position: relative;
    top: 3rem;
}

.page-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--element-width);
    background-image: url("./res/img/bg-boost-desktop.svg");
    background-size: cover;
    background-color: rgba(58, 27, 99, 0.778);
    color: white;
    padding-top: 4rem;
}

.page-bottom button {
    height: 4.25rem;
    width: 12.5rem;
    font-size: 1.33rem;
    margin:3.5rem 4.25rem 3.5rem 1.6rem;
    border-radius: 2rem;
    background: #2bd0d0;
    color: white;
    border: none;
    cursor: pointer;
}

.page-bottom button:hover {
    background: #9AE3E3;
}

.page-bottom h2 {
    font-size: 2.66rem;
}


.footer {
    display: flex;
    position: relative;
    align-items: top;
    width: var(--element-width);
    color: white;
    background: #232127;
    padding-top: 7rem;
}

.footer > img {
    position: relative;
    left: 8rem;
    height: 2rem;
    width: auto;
}

.footer-info {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 4rem;
}

.footer-info > ul {
    text-decoration: none;
    list-style: none;
    font-weight: 700;
    margin-right: 4rem;
}

.footer-info > ul > li {
    font-weight: 500;
    margin:1rem 0;
    color: #bfbfbf;
}

.footer-info > ul > li:hover  {
    color: #2BD0D0;
    cursor: pointer;
}

.bottom-links {
    display: flex;
    /* justify-content: space-between; */
}

.icon-container {
    display: flex;
}

.icon-container > object {
    height: fit-content;
    width: fit-content;
    margin: 0 1.5rem 0 0;
}

@media only screen and (max-width:55rem) {
  :root {
    --element-width: 100%;  
    --shorten-width: 90%;
        font-size: 62.5%;   /* IF DEFAULT IS 16PX THIS IS 10PX*/
  }

  #hamburger {
    display: flex;
  }

  .page-top {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .page-top-text {
    width: var(--shorten-width);
  }

  .page-top-text h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 3rem;
  }

  .page-top-text p {
    font-size: 1.125rem;
    margin: 0.5rem 0;
    text-align: center;
  }

  .page-top img {
    width: 100%;
  }

  .url-input {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 11.375rem;
    bottom: -7.5rem;
  }

  .url-input input {
    height: 3rem;
    width: 90%;
    padding: 0 0 0 0;
    margin: 1rem;
  }

  #shorten-it-button {
    height: 3rem;
    width: 90%;
    margin: 1rem;
    padding: 0;
  }

  #error-text {
    top: 1rem;
    left: 10%;
    font-size: 1rem;
  }

  .brag-box {
    flex-direction: column;
    align-items: center;
    width: var(--shorten-width);
    background: linear-gradient(to right,
    #f2f2f2 49.5%, #2bd0d0 49.5% 50.5%, #f2f2f2 50.5%);
    margin-bottom: 2rem;
  }

  .specific-brag {
    margin: 1rem 0;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
  }

  .main-nav {
    flex-direction: column;
  }

  #nav-bar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5rem;
    left: 110%;
    width: 90%;
    height: fit-content;
    flex-direction: column;
    box-shadow: 0px 0px 20px #2BD0D0;
    z-index: 5;
    background-color: #3a3054;
    border-radius: 10px;
    animation-duration: 0.5s;
  }

  @keyframes menu-slide-in {
    from {left: 110%;}
    to {left: 5%}
  }

  @keyframes menu-slide-out {
    from {left: 5%;}
    to {left: 110%}
  }

  .info-nav {
    flex-direction: column;
    border-bottom: 2px solid #9e9aa848;
    width: 80%;
  }

  .info-nav p, .action-nav p {
    margin: 1rem 0;
    color: white;
    font-weight: 700;
    font-size: 1.125rem;
  }

  .info-nav p:hover, .action-nav p:hover {
    color: #2BD0D0;
  }

  .action-nav {
    flex-direction: column;
  }

  .action-nav button {
    height: 2.65rem;
    width: 7rem;
    /* font-size: 7em; */
    border-radius: 2rem;
    background: #2bd0d0;
    color: white;
    border: none;
    cursor: pointer;
    margin: 1rem 0;
}

  .hamburger {
    display: inline;
  }

  .footer, .footer-info {
    flex-direction: column;
    align-items: center;
  }

  .footer > img {
    position: relative;
    left: 0rem;
    height: 4rem;
    width: auto;
    margin: 0 0 1rem 0;
}

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    
    justify-content: center;
    margin-bottom: 4rem;
  }

  .footer-info  ul {
    margin: 2.5rem 0;
  }

  .footer-info > ul > li {
    font-weight: 500;
    margin:2rem 0;
    color: #bfbfbf;
  }

  #shortened-urls-container {
    width: 90%;
  }

  .link-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    width: 100%;
  }

  .link-container p {
    padding: 0 0 1rem 0;
  }

  .link-container > div {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1rem;
    width: 100%;
    border-top: 2px solid #9e9aa848;

  }

  .link-container > div button {
    width: 100%;
    margin: 0rem;
  }
  
  #full-link {
    margin: 0rem;
  }
}